body {
    background-color: rgb(114, 136, 120);
}

.card {
    margin: 100px auto;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

h4 {
    border-bottom: 1px solid #333;
    margin-bottom: 1px;
}